################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoAppServiceGithub/.vs/DemoAppServiceGithub/v15
/DemoAppServiceGithub/DemoAppServiceGithub/obj/Debug/netcoreapp2.0
